
h1 {
    color: blue;
    font-family: Helvetica;
}
p {
    color: blue;
    font-weight: bold;
    font-family: Helvetica;
    text-align: left;
    line-height: 26px;

}

section {
    max-width: 40em;
}

img {
    max-height: 40em;
}