body {
    background-color: powderblue;
}

.flash{
    color: rgba(146, 171, 140, 0.25);
    font-family: dia;
    font-size: 76pt;
    text-align: center;
}

 {  
    color: rgba(146, 171, 140, 0.25);
    font-family: dia;
    font-size: 76pt;
    text-align: center;
}
